# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
THUMB_IMAGE = "https://imgur.com/a/Mg41VUV"
port = 5000
email = "abdkhadher123@gmail.com"
global_url = "instagram.com/abd_khadher___"
OWNER_NAME = "KHADHER"
AUTO_REACTION = true
FAKE_COUNTRY_CODE = 92
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = true
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= SECKTOR
WORKTYPE = public
PACK_INFO = "stunning-ai;khadher.inc"
ANTILINK_VALUES = "chat.whatsapp.com"
